.app-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(19, 48, 47, 1);
    opacity: 1;

}

.onscroll {
    height: 50px;
    background-color: rgba(19, 48, 47, 0.7);
    transition: background-color, 0.5s;
}