.app-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(19, 48, 47, 1);
    opacity: 1;
    z-index: 2;
    color: #fff;

}

.onscroll {
    height: 50px;
    background-color: rgba(19, 48, 47, 0.7);
    transition: background-color, 0.5s;
}

.css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
    color: #297762 !important;
}

.css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: #297762 !important;
}