.main-page {
    padding-top: 100px;
    height: 100%;
}
$sizeindex: calc(1vw + 1vh);

.slides-section {
    width: 100%;
    overflow: hidden;
    font-size: $sizeindex;
    height: 100%;
}

.project-timer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}